<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <div
        *ngIf="f.invalid && f.touched"
        class="alert alert-danger"
        role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Invalid input!
      </div>
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group"
          [ngClass]="{
            'has-feedback': email.touched,
            'has-success': email.touched && email.valid,
            'has-error': email.touched && !email.valid
          }">
          <label for="email" class="control-label">Email</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </span>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Email"
              name="email"
              ngModel
              required
              email
              #email="ngModel">
          </div>
          <span class="glyphicon form-control-feedback"
            [ngClass]="{
              'glyphicon-ok': email.valid && email.touched,
              'glyphicon-remove': !email.valid && email.touched
            }"
            aria-hidden="true"></span>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription" class="control-label">Subscription</label>
          <select
            id="subscription"
            class="form-control"
            [ngModel]="defaultSubscription"
            name="subscription"
            required>
            <option
              *ngFor="let opt of subscriptionOptions"
              [value]="opt">{{ opt }}</option>
          </select>
        </div>
        <!-- defaultSubscription: {{ defaultSubscription }} -->
        <div class="form-group"
          [ngClass]="{
            'has-feedback': password.touched,
            'has-success': password.touched && password.valid,
            'has-error': password.touched && !password.valid
          }">
          <label for="password" class="control-label">Password</label>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </span>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              #password="ngModel">
          </div>
          <span class="glyphicon form-control-feedback"
            [ngClass]="{
              'glyphicon-ok': password.valid && password.touched,
              'glyphicon-remove': !password.valid && password.touched
            }"
            aria-hidden="true"></span>
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a password!</span>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your Data</h3>
      <p>EMail: {{ user.email }}</p>
      <p>Subscription: {{ user.subscription }}</p>
      <p>Password: {{ user.password }}</p>
    </div>
  </div>
</div>
